In [134]:
%pylab inline
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [135]:
train_data = pd.read_csv('../data/train_no_null.csv', index_col='PassengerId')
test_data = pd.read_csv("../data/test_no_null.csv", index_col='PassengerId')
all_data = pd.concat([train_data, test_data])

In [136]:
all_data.head()

,Unnamed: 0,Age,Embarked,Fare,Parch,Pclass,Sex,SibSp,Survived
PassengerId,,,,,,,,,
1,0,22.0,S,7.2500,0,3,male,1,0.0
2,1,38.0,C,71.2833,0,1,female,1,1.0
3,2,26.0,S,7.9250,0,3,female,0,1.0
4,3,35.0,S,53.1000,0,1,female,1,1.0
5,4,35.0,S,8.0500,0,3,male,0,0.0

In [137]:
sex_df = pd.get_dummies(all_data.Sex)

In [138]:
all_data = pd.concat([all_data, sex_df], axis=1)

In [139]:
all_data.head()

,Unnamed: 0,Age,Embarked,Fare,Parch,Pclass,Sex,SibSp,Survived,female,male
PassengerId,,,,,,,,,,,
1,0,22.0,S,7.2500,0,3,male,1,0.0,0,1
2,1,38.0,C,71.2833,0,1,female,1,1.0,1,0
3,2,26.0,S,7.9250,0,3,female,0,1.0,1,0
4,3,35.0,S,53.1000,0,1,female,1,1.0,1,0
5,4,35.0,S,8.0500,0,3,male,0,0.0,0,1

In [140]:
Pclass_df = pd.get_dummies(all_data.Pclass)

In [141]:
Pclass_df.columns = ['Pclass1', 'Pclass1', 'Pclass3']

In [142]:
all_data = pd.concat([all_data, Pclass_df], axis=1)

In [143]:
Embarked_df = pd.get_dummies(all_data.Embarked)

In [144]:
Embarked_df.columns = ['Embarked_C', 'Embarked_Q', 'Embarked_S']

In [145]:
all_data = pd.concat([all_data, Embarked_df], axis=1)

In [146]:
all_data = all_data.drop(['Unnamed: 0'], 1)

In [147]:
all_data = all_data.drop(['Embarked', 'Sex', 'Pclass'], 1)

In [148]:
all_data

,Age,Fare,Parch,SibSp,Survived,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,
1,22.0,7.2500,0,1,0.0,0,1,0,0,1,0,0,1
2,38.0,71.2833,0,1,1.0,1,0,1,0,0,1,0,0
3,26.0,7.9250,0,0,1.0,1,0,0,0,1,0,0,1
4,35.0,53.1000,0,1,1.0,1,0,1,0,0,0,0,1
5,35.0,8.0500,0,0,0.0,0,1,0,0,1,0,0,1
6,28.0,8.4583,0,0,0.0,0,1,0,0,1,0,1,0
7,54.0,51.8625,0,0,0.0,0,1,1,0,0,0,0,1
8,2.0,21.0750,1,3,0.0,0,1,0,0,1,0,0,1
9,27.0,11.1333,2,0,1.0,1,0,0,0,1,0,0,1
10,14.0,30.0708,0,1,1.0,1,0,0,1,0,1,0,0
11,4.0,16.7000,1,1,1.0,1,0,0,0,1,0,0,1
12,58.0,26.5500,0,0,1.0,1,0,1,0,0,0,0,1
13,20.0,8.0500,0,0,0.0,0,1,0,0,1,0,0,1
14,39.0,31.2750,5,1,0.0,0,1,0,0,1,0,0,1
15,14.0,7.8542,0,0,0.0,1,0,0,0,1,0,0,1
16,55.0,16.0000,0,0,1.0,1,0,0,1,0,0,0,1
17,2.0,29.1250,1,4,0.0,0,1,0,0,1,0,1,0
18,33.0,13.0000,0,0,1.0,0,1,0,1,0,0,0,1
19,31.0,18.0000,0,1,0.0,1,0,0,0,1,0,0,1
20,26.0,7.2250,0,0,1.0,1,0,0,0,1,1,0,0
21,35.0,26.0000,0,0,0.0,0,1,0,1,0,0,0,1
22,34.0,13.0000,0,0,1.0,0,1,0,1,0,0,0,1
23,15.0,8.0292,0,0,1.0,1,0,0,0,1,0,1,0
24,28.0,35.5000,0,0,1.0,0,1,1,0,0,0,0,1
25,8.0,21.0750,1,3,0.0,1,0,0,0,1,0,0,1
26,38.0,31.3875,5,1,1.0,1,0,0,0,1,0,0,1
27,28.0,7.2250,0,0,0.0,0,1,0,0,1,1,0,0
28,19.0,263.0000,2,3,0.0,0,1,1,0,0,0,0,1
29,26.0,7.8792,0,0,1.0,1,0,0,0,1,0,1,0
30,28.0,7.8958,0,0,0.0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,21.0,7.7500,0,0,NaN,0,1,0,0,1,0,1,0
1281,6.0,21.0750,1,3,NaN,0,1,0,0,1,0,0,1
1282,23.0,93.5000,0,0,NaN,0,1,1,0,0,0,0,1
1283,51.0,39.4000,1,0,NaN,1,0,1,0,0,0,0,1
1284,13.0,20.2500,2,0,NaN,0,1,0,0,1,0,0,1
1285,47.0,10.5000,0,0,NaN,0,1,0,1,0,0,0,1
1286,29.0,22.0250,1,3,NaN,0,1,0,0,1,0,0,1
1287,18.0,60.0000,0,1,NaN,1,0,1,0,0,0,0,1
1288,24.0,7.2500,0,0,NaN,0,1,0,0,1,0,1,0
1289,48.0,79.2000,1,1,NaN,1,0,1,0,0,1,0,0
1290,22.0,7.7750,0,0,NaN,0,1,0,0,1,0,0,1
1291,31.0,7.7333,0,0,NaN,0,1,0,0,1,0,1,0
1292,30.0,164.8667,0,0,NaN,1,0,1,0,0,0,0,1
1293,38.0,21.0000,0,1,NaN,0,1,0,1,0,0,0,1
1294,22.0,59.4000,1,0,NaN,1,0,1,0,0,1,0,0
1295,17.0,47.1000,0,0,NaN,0,1,1,0,0,0,0,1
1296,43.0,27.7208,0,1,NaN,0,1,1,0,0,1,0,0
1297,20.0,13.8625,0,0,NaN,0,1,0,1,0,1,0,0
1298,23.0,10.5000,0,1,NaN,0,1,0,1,0,0,0,1
1299,50.0,211.5000,1,1,NaN,0,1,1,0,0,1,0,0
1300,26.0,7.7208,0,0,NaN,1,0,0,0,1,0,1,0
1301,3.0,13.7750,1,1,NaN,1,0,0,0,1,0,0,1
1302,26.0,7.7500,0,0,NaN,1,0,0,0,1,0,1,0
1303,37.0,90.0000,0,1,NaN,1,0,1,0,0,0,1,0
1304,28.0,7.7750,0,0,NaN,1,0,0,0,1,0,0,1
1305,28.0,8.0500,0,0,NaN,0,1,0,0,1,0,0,1
1306,39.0,108.9000,0,0,NaN,1,0,1,0,0,1,0,0
1307,38.5,7.2500,0,0,NaN,0,1,0,0,1,0,0,1
1308,28.0,8.0500,0,0,NaN,0,1,0,0,1,0,0,1
1309,6.0,22.3583,1,1,NaN,0,1,0,0,1,1,0,0

In [149]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = np.array(all_data.Age.values)
age_skaled = scaler.fit_transform(X[:, np.newaxis])
all_data.Age = age_skaled

In [150]:
all_data.head()

,Age,Fare,Parch,SibSp,Survived,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,
1,-0.584223,7.2500,0,1,0.0,0,1,0,0,1,0,0,1
2,0.628019,71.2833,0,1,1.0,1,0,1,0,0,1,0,0
3,-0.281163,7.9250,0,0,1.0,1,0,0,0,1,0,0,1
4,0.400723,53.1000,0,1,1.0,1,0,1,0,0,0,0,1
5,0.400723,8.0500,0,0,0.0,0,1,0,0,1,0,0,1

In [151]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = np.array(all_data.Fare.values)
fare_skaled = scaler.fit_transform(X[:, np.newaxis])
all_data.Fare = fare_skaled

In [152]:
all_data.head()

,Age,Fare,Parch,SibSp,Survived,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,
1,-0.584223,-0.503255,0,1,0.0,0,1,0,0,1,0,0,1
2,0.628019,0.734765,0,1,1.0,1,0,1,0,0,1,0,0
3,-0.281163,-0.490205,0,0,1.0,1,0,0,0,1,0,0,1
4,0.400723,0.383209,0,1,1.0,1,0,1,0,0,0,0,1
5,0.400723,-0.487788,0,0,0.0,0,1,0,0,1,0,0,1

In [153]:
all_data.head()

,Age,Fare,Parch,SibSp,Survived,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,
1,-0.584223,-0.503255,0,1,0.0,0,1,0,0,1,0,0,1
2,0.628019,0.734765,0,1,1.0,1,0,1,0,0,1,0,0
3,-0.281163,-0.490205,0,0,1.0,1,0,0,0,1,0,0,1
4,0.400723,0.383209,0,1,1.0,1,0,1,0,0,0,0,1
5,0.400723,-0.487788,0,0,0.0,0,1,0,0,1,0,0,1

In [154]:
surv_values = all_data.Survived.values
all_data = all_data.drop(['Survived'], 1)
all_data['Survived'] = surv_values
all_data.head()

,Age,Fare,Parch,SibSp,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S,Survived
PassengerId,,,,,,,,,,,,,
1,-0.584223,-0.503255,0,1,0,1,0,0,1,0,0,1,0.0
2,0.628019,0.734765,0,1,1,0,1,0,0,1,0,0,1.0
3,-0.281163,-0.490205,0,0,1,0,0,0,1,0,0,1,1.0
4,0.400723,0.383209,0,1,1,0,1,0,0,0,0,1,1.0
5,0.400723,-0.487788,0,0,0,1,0,0,1,0,0,1,0.0

In [155]:
scaled_train = all_data[all_data.Survived.notnull()]
scaled_test = all_data[all_data.Survived.isnull()]

In [156]:
scaled_train.loc[:, 'Survived'] = scaled_train.Survived.values.astype(int)
scaled_train.head()

,Age,Fare,Parch,SibSp,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S,Survived
PassengerId,,,,,,,,,,,,,
1,-0.584223,-0.503255,0,1,0,1,0,0,1,0,0,1,0
2,0.628019,0.734765,0,1,1,0,1,0,0,1,0,0,1
3,-0.281163,-0.490205,0,0,1,0,0,0,1,0,0,1,1
4,0.400723,0.383209,0,1,1,0,1,0,0,0,0,1,1
5,0.400723,-0.487788,0,0,0,1,0,0,1,0,0,1,0

In [157]:
scaled_train.to_csv('../data/scaled_train.csv')
scaled_test.to_csv('../data/scaled_test.csv')