In [1]:
%pylab inline
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [2]:
train_data = pd.read_csv('../data/train_no_null.csv')
test_data = pd.read_csv("../data/test_no_null.csv")
all_data = pd.concat([train_data, test_data])

In [5]:
all_data.head()

,Unnamed: 0,Age,Embarked,Fare,Parch,PassengerId,Pclass,Sex,SibSp,Survived
0,0,22.0,S,7.2500,0,1,3,male,1,0.0
1,1,38.0,C,71.2833,0,2,1,female,1,1.0
2,2,26.0,S,7.9250,0,3,3,female,0,1.0
3,3,35.0,S,53.1000,0,4,1,female,1,1.0
4,4,35.0,S,8.0500,0,5,3,male,0,0.0

In [10]:
sex_df = pd.get_dummies(all_data.Sex)

In [11]:
all_data = pd.concat([all_data, sex_df], axis=1)

In [12]:
all_data.head()

,Unnamed: 0,Age,Embarked,Fare,Parch,PassengerId,Pclass,Sex,SibSp,Survived,female,male
0,0,22.0,S,7.2500,0,1,3,male,1,0.0,0,1
1,1,38.0,C,71.2833,0,2,1,female,1,1.0,1,0
2,2,26.0,S,7.9250,0,3,3,female,0,1.0,1,0
3,3,35.0,S,53.1000,0,4,1,female,1,1.0,1,0
4,4,35.0,S,8.0500,0,5,3,male,0,0.0,0,1

In [24]:
Pclass_df = pd.get_dummies(all_data.Pclass)

In [25]:
Pclass_df.columns = ['Pclass1', 'Pclass1', 'Pclass3']

In [26]:
all_data = pd.concat([all_data, Pclass_df], axis=1)

In [28]:
Embarked_df = pd.get_dummies(all_data.Embarked)

In [30]:
Embarked_df.columns = ['Embarked_C', 'Embarked_Q', 'Embarked_S']

In [34]:
all_data = pd.concat([all_data, Embarked_df], axis=1)

In [35]:
all_data = all_data.drop(['Unnamed: 0'], 1)

In [37]:
all_data = all_data.drop(['Embarked', 'Sex', 'Pclass'], 1)

In [38]:
all_data

,Age,Fare,Parch,PassengerId,SibSp,Survived,female,male,Pclass1,Pclass1,Pclass3,Embarked_C,Embarked_Q,Embarked_S,Embarked_C,Embarked_Q,Embarked_S
0,22.0,7.2500,0,1,1,0.0,0,1,0,0,1,0,0,1,0,0,1
1,38.0,71.2833,0,2,1,1.0,1,0,1,0,0,1,0,0,1,0,0
2,26.0,7.9250,0,3,0,1.0,1,0,0,0,1,0,0,1,0,0,1
3,35.0,53.1000,0,4,1,1.0,1,0,1,0,0,0,0,1,0,0,1
4,35.0,8.0500,0,5,0,0.0,0,1,0,0,1,0,0,1,0,0,1
5,28.0,8.4583,0,6,0,0.0,0,1,0,0,1,0,1,0,0,1,0
6,54.0,51.8625,0,7,0,0.0,0,1,1,0,0,0,0,1,0,0,1
7,2.0,21.0750,1,8,3,0.0,0,1,0,0,1,0,0,1,0,0,1
8,27.0,11.1333,2,9,0,1.0,1,0,0,0,1,0,0,1,0,0,1
9,14.0,30.0708,0,10,1,1.0,1,0,0,1,0,1,0,0,1,0,0
10,4.0,16.7000,1,11,1,1.0,1,0,0,0,1,0,0,1,0,0,1
11,58.0,26.5500,0,12,0,1.0,1,0,1,0,0,0,0,1,0,0,1
12,20.0,8.0500,0,13,0,0.0,0,1,0,0,1,0,0,1,0,0,1
13,39.0,31.2750,5,14,1,0.0,0,1,0,0,1,0,0,1,0,0,1
14,14.0,7.8542,0,15,0,0.0,1,0,0,0,1,0,0,1,0,0,1
15,55.0,16.0000,0,16,0,1.0,1,0,0,1,0,0,0,1,0,0,1
16,2.0,29.1250,1,17,4,0.0,0,1,0,0,1,0,1,0,0,1,0
17,33.0,13.0000,0,18,0,1.0,0,1,0,1,0,0,0,1,0,0,1
18,31.0,18.0000,0,19,1,0.0,1,0,0,0,1,0,0,1,0,0,1
19,26.0,7.2250,0,20,0,1.0,1,0,0,0,1,1,0,0,1,0,0
20,35.0,26.0000,0,21,0,0.0,0,1,0,1,0,0,0,1,0,0,1
21,34.0,13.0000,0,22,0,1.0,0,1,0,1,0,0,0,1,0,0,1
22,15.0,8.0292,0,23,0,1.0,1,0,0,0,1,0,1,0,0,1,0
23,28.0,35.5000,0,24,0,1.0,0,1,1,0,0,0,0,1,0,0,1
24,8.0,21.0750,1,25,3,0.0,1,0,0,0,1,0,0,1,0,0,1
25,38.0,31.3875,5,26,1,1.0,1,0,0,0,1,0,0,1,0,0,1
26,28.0,7.2250,0,27,0,0.0,0,1,0,0,1,1,0,0,1,0,0
27,19.0,263.0000,2,28,3,0.0,0,1,1,0,0,0,0,1,0,0,1
28,26.0,7.8792,0,29,0,1.0,1,0,0,0,1,0,1,0,0,1,0
29,28.0,7.8958,0,30,0,0.0,0,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,7.7500,0,1280,0,NaN,0,1,0,0,1,0,1,0,0,1,0
389,6.0,21.0750,1,1281,3,NaN,0,1,0,0,1,0,0,1,0,0,1
390,23.0,93.5000,0,1282,0,NaN,0,1,1,0,0,0,0,1,0,0,1
391,51.0,39.4000,1,1283,0,NaN,1,0,1,0,0,0,0,1,0,0,1
392,13.0,20.2500,2,1284,0,NaN,0,1,0,0,1,0,0,1,0,0,1
393,47.0,10.5000,0,1285,0,NaN,0,1,0,1,0,0,0,1,0,0,1
394,29.0,22.0250,1,1286,3,NaN,0,1,0,0,1,0,0,1,0,0,1
395,18.0,60.0000,0,1287,1,NaN,1,0,1,0,0,0,0,1,0,0,1
396,24.0,7.2500,0,1288,0,NaN,0,1,0,0,1,0,1,0,0,1,0
397,48.0,79.2000,1,1289,1,NaN,1,0,1,0,0,1,0,0,1,0,0
398,22.0,7.7750,0,1290,0,NaN,0,1,0,0,1,0,0,1,0,0,1
399,31.0,7.7333,0,1291,0,NaN,0,1,0,0,1,0,1,0,0,1,0
400,30.0,164.8667,0,1292,0,NaN,1,0,1,0,0,0,0,1,0,0,1
401,38.0,21.0000,0,1293,1,NaN,0,1,0,1,0,0,0,1,0,0,1
402,22.0,59.4000,1,1294,0,NaN,1,0,1,0,0,1,0,0,1,0,0
403,17.0,47.1000,0,1295,0,NaN,0,1,1,0,0,0,0,1,0,0,1
404,43.0,27.7208,0,1296,1,NaN,0,1,1,0,0,1,0,0,1,0,0
405,20.0,13.8625,0,1297,0,NaN,0,1,0,1,0,1,0,0,1,0,0
406,23.0,10.5000,0,1298,1,NaN,0,1,0,1,0,0,0,1,0,0,1
407,50.0,211.5000,1,1299,1,NaN,0,1,1,0,0,1,0,0,1,0,0
408,26.0,7.7208,0,1300,0,NaN,1,0,0,0,1,0,1,0,0,1,0
409,3.0,13.7750,1,1301,1,NaN,1,0,0,0,1,0,0,1,0,0,1
410,26.0,7.7500,0,1302,0,NaN,1,0,0,0,1,0,1,0,0,1,0
411,37.0,90.0000,0,1303,1,NaN,1,0,1,0,0,0,1,0,0,1,0
412,28.0,7.7750,0,1304,0,NaN,1,0,0,0,1,0,0,1,0,0,1
413,28.0,8.0500,0,1305,0,NaN,0,1,0,0,1,0,0,1,0,0,1
414,39.0,108.9000,0,1306,0,NaN,1,0,1,0,0,1,0,0,1,0,0
415,38.5,7.2500,0,1307,0,NaN,0,1,0,0,1,0,0,1,0,0,1
416,28.0,8.0500,0,1308,0,NaN,0,1,0,0,1,0,0,1,0,0,1
417,6.0,22.3583,1,1309,1,NaN,0,1,0,0,1,1,0,0,1,0,0