In [1]:
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
from keras.applications.vgg16 import preprocess_input
from keras.applications.vgg16 import decode_predictions
from keras.applications.vgg16 import VGG16
# load the model
model = VGG16()

Using TensorFlow backend.

In [2]:
import pandas as pd
import numpy as np 
from sqlalchemy import create_engine

In [5]:
test_all = pd.read_csv("./data/test.csv", parse_dates=["activation_date"])
test_all['image_class_1'] = 'None'
test_all['image_class_2'] = 'None'
test_all['image_class_3'] = 'None'
test_all['image_class_4'] = 'None'
test_all['image_class_5'] = 'None'

df_to_mysql = test_all[['item_id', 'image', 'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5']]
df_to_mysql.to_csv('./data/df_to_mysql_test.csv')

#engine = create_engine('mysql+mysqldb://root:FlhbfyjD@localhost:3306/avito_train', max_overflow=2000000, isolation_level="AUTOCOMMIT", pool_size=2000000, pool_pre_ping=True, echo = False)
#df_to_mysql.to_sql(name='test_image_classes', con=engine, if_exists='replace')

In [2]:
train_all = pd.read_csv("./data/try_2_08_05_2018.csv", parse_dates=["activation_date"])
train_all['image_class_1'] = 'None'
train_all['image_class_2'] = 'None'
train_all['image_class_3'] = 'None'
train_all['image_class_4'] = 'None'
train_all['image_class_5'] = 'None'
#train_all = train_all[:1000]

In [3]:
df_to_mysql = train_all[['item_id', 'image', 'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5']]

In [4]:
df_to_mysql.to_csv('./data/df_to_mysql.csv')

In [5]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('mysql+mysqldb://root:FlhbfyjD@localhost:3306/avito_train', max_overflow=2000000, isolation_level="AUTOCOMMIT", pool_size=2000000, pool_pre_ping=True, echo = False)
df_to_mysql.to_sql(name='train_image_classes', con=engine, if_exists='replace')

OperationalError: (_mysql_exceptions.OperationalError) (2006, 'MySQL server has gone away') [SQL: 'INSERT INTO train_image_classes (`index`, item_id, image, image_class_1, image_class_2, image_class_3, image_class_4, image_class_5) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'] [parameters: ((0, 'b912c3c6a6ad', 'd10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c7679f17c333c959b19', 'None', 'None', 'None', 'None', 'None'), (1, '2dac0150717d', '79c9392cc51a9c81c6eb91eceb8e552171db39d71427001e1e0859c0fb843a31', 'None', 'None', 'None', 'None', 'None'), (2, 'ba83aefab5dc', 'b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a8713f112c67e29bb42', 'None', 'None', 'None', 'None', 'None'), (3, '02996f1dd2ea', 'e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c841302bf49820803501b4b', 'None', 'None', 'None', 'None', 'None'), (4, '7c90be56d2ab', '54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2c089d8376e883ed33b', 'None', 'None', 'None', 'None', 'None'), (5, '51e0962387f7', 'eb6ad1231c59d3dc7e4020e724ffe8e4d302023ddcbb99c52a6117994dd44690', 'None', 'None', 'None', 'None', 'None'), (6, 'c4f260a2b48a', '0330f6ac561f5db1fa8226dd5e7e127b5671d44d075a9801ec9e6ee9d20ad2c6', 'None', 'None', 'None', 'None', 'None'), (7, '6b71309d6a8a', '9bab29a519e81c14f4582024adfebd4f11a4ac71d323a62f7731e19db9702115', 'None', 'None', 'None', 'None', 'None')  ... displaying 10 of 1503424 total bound parameter sets ...  (1503422, 'f782f2ad9349', '6b4285c22388a5dae37c3d390d3e1b174f7a980d9e3919e6c5b39e36044e5cc4', 'None', 'None', 'None', 'None', 'None'), (1503423, '9ad3b7bff1db', '87cca5889b96b0368bffbe7cdb3f0cc5fa660f33be9fd027d0fc95dc15cdcb3e', 'None', 'None', 'None', 'None', 'None'))] (Background on this error at: http://sqlalche.me/e/e3q8)

In [3]:
#train_all = train_all.sample(frac=1).reset_index(drop=True)
#from IPython.display import Image
#image_name = '/media/adrianoff/37C7A8E65B515748/Downloads/train_jpg/' + train_all['image'][0] + '.jpg'
#Image(filename=image_name)

In [7]:
from tqdm import tqdm
for index, row in tqdm(train_all[train_all['image_class_1'] == 'None'].iterrows()):
    if len(str(row['image'])) > 3:
        image_name = '/media/adrianoff/37C7A8E65B515748/Downloads/train_jpg/' + row['image'] + '.jpg'
        image = load_img(image_name, target_size=(224, 224))
        image = img_to_array(image)
        image = image.reshape((1, image.shape[0], image.shape[1], image.shape[2]))
        image = preprocess_input(image)
        yhat = model.predict(image)
        label = decode_predictions(yhat)
   
        train_all.at[index, 'image_class_1'] = label[0][0][1]
        train_all.at[index, 'image_class_2'] = label[0][1][1]
        train_all.at[index, 'image_class_3'] = label[0][2][1]
        train_all.at[index, 'image_class_4'] = label[0][3][1]
        train_all.at[index, 'image_class_5'] = label[0][4][1]

11it [00:00, 10536.05it/s]

In [200]:
train_all.head()

,Unnamed: 0,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,...,region_en,parent_category_name_en,category_name_en,brand,text_class,image_class_1,image_class_2,image_class_3,image_class_4,image_class_5
0,80,f1ae3fabeac4,edaf99f33da2,Ярославская область,Ярославль,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,23,...,Yaroslavl oblast,Personal belongings,Children's clothing and shoes,None,0,sandal,running_shoe,shoe_shop,bib,clog
1,59,6da2b3d03321,28f34159e53e,Ярославская область,Ростов,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,35,...,Yaroslavl oblast,Personal belongings,Children's clothing and shoes,None,0,Loafer,sandal,running_shoe,clog,shoe_shop
2,79,1d4c56733bb0,238c695f7127,Саратовская область,Энгельс,Хобби и отдых,Спорт и отдых,Зимние виды спорта,NaN,NaN,...,Saratov oblast,Hobbies & leisure,Sports and recreation,None,0,jersey,swimming_trunks,punching_bag,hatchet,Christmas_stocking
3,43,50ac2bb95f8d,36b6070caad9,Волгоградская область,Волгоград,Личные вещи,"Одежда, обувь, аксессуары",Мужская одежда,Трикотаж и футболки,44–46 (S),...,Volgograd oblast,Personal belongings,"Clothing, shoes, accessories",adidas,0,apron,jersey,sweatshirt,diaper,bulletproof_vest
4,96,c4e2543626b0,7139f61d40ae,Новосибирская область,Бердск,Личные вещи,Детская одежда и обувь,Для девочек,Обувь,30,...,Novosibirsk oblast,Personal belongings,Children's clothing and shoes,None,0,pill_bottle,lotion,hair_spray,water_bottle,perfume

In [ ]:
train_all.to_csv('./data/try_2_13_05_2018_image_classes.csv')