In [1]:
import pandas as pd
import numpy as np 
import lightgbm as lgb
from sklearn import preprocessing

In [2]:
train_all_all = pd.read_csv("./data/try_3_23_05_2018_train.csv", parse_dates=["activation_date"])
test_all = pd.read_csv("./data/try_3_23_05_2018_test.csv", parse_dates=["activation_date"])

In [3]:
test_all.head()

,Unnamed: 0,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,...,parent_category_name_en,category_name_en,brand,text_class,image_class_1,image_class_2,image_class_3,image_class_4,image_class_5,image_exists
0,0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,...,Personal belongings,Children's products and toys,None,0,shoe_shop,clog,toilet_tissue,soap_dispenser,carton,1
1,1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,...,For the home and garden,Furniture and interior,f200,0,None,None,None,None,None,0
2,2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,...,Consumer electronics,Audio and video,bbk,0,home_theater,television,monitor,desktop_computer,entertainment_center,1
3,3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,...,Personal belongings,Children's products and toys,air,0,None,None,None,None,None,0
4,4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,...,Transport,Cars,None,0,vacuum,tricycle,moped,backpack,stethoscope,1

In [4]:
train_all = train_all_all #[:600000]
train_all = train_all.drop(['Unnamed: 0'], axis=1)
test_all = test_all.drop(['Unnamed: 0'], axis=1)

In [5]:
train_y = train_all["deal_probability"].values

In [6]:
train_all.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,...,parent_category_name_en,category_name_en,brand,text_class,image_class_1,image_class_2,image_class_3,image_class_4,image_class_5,image_exists
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),...,Personal belongings,Children's products and toys,None,0,velvet,sleeping_bag,bib,apron,backpack,1
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,...,For the home and garden,Furniture and interior,None,0,stove,ashcan,folding_chair,potters_wheel,caldron,1
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,...,Consumer electronics,Audio and video,philips,0,radio,loudspeaker,forklift,microphone,home_theater,1
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,...,Personal belongings,Children's products and toys,None,0,muzzle,neck_brace,knee_pad,bulletproof_vest,buckle,1
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",...,Transport,Cars,None,0,golfcart,half_track,tractor,ambulance,jeep,1

In [7]:
train_all.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability', 'weekday',
       'month', 'day', 'description_len', 'title_len', 'region_en',
       'parent_category_name_en', 'category_name_en', 'brand', 'text_class',
       'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4',
       'image_class_5', 'image_exists'],
      dtype='object')

In [8]:
test_all.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'weekday', 'month', 'day',
       'description_len', 'title_len', 'region_en', 'parent_category_name_en',
       'category_name_en', 'brand', 'text_class', 'image_class_1',
       'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5',
       'image_exists'],
      dtype='object')

In [9]:
columns_to_delete_train = [
    'item_id', 'user_id', 'region', 'parent_category_name',
    'title', 'description', 'activation_date', 'image', 'image_top_1', 'deal_probability', 'category_name', 
    'month', 'day'
]
columns_to_delete_test = [
    'item_id', 'user_id', 'region', 'parent_category_name',
    'title', 'description', 'activation_date', 'image', 'image_top_1', 'category_name',
    'month', 'day'
]
train_all = train_all.drop(columns_to_delete_train, axis=1)
test_all = test_all.drop(columns_to_delete_test, axis=1)

In [10]:
train_all.columns

Index(['city', 'param_1', 'param_2', 'param_3', 'price', 'item_seq_number',
       'user_type', 'weekday', 'description_len', 'title_len', 'region_en',
       'parent_category_name_en', 'category_name_en', 'brand', 'text_class',
       'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4',
       'image_class_5', 'image_exists'],
      dtype='object')

In [11]:
test_all.columns

Index(['city', 'param_1', 'param_2', 'param_3', 'price', 'item_seq_number',
       'user_type', 'weekday', 'description_len', 'title_len', 'region_en',
       'parent_category_name_en', 'category_name_en', 'brand', 'text_class',
       'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4',
       'image_class_5', 'image_exists'],
      dtype='object')

In [12]:
cat_vars = [
    "region_en", "city", "parent_category_name_en", "category_name_en", "user_type", 
    "param_1", "param_2", "param_3", "brand", 
    'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5'
]

for col in cat_vars:
    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(train_all[col].values.astype('str')) + list(test_all[col].values.astype('str')))
    train_all[col] = lbl.transform(list(train_all[col].values.astype('str')))
    test_all[col] = lbl.transform(list(test_all[col].values.astype('str')))

In [13]:
train_all.head(5)

,city,param_1,param_2,param_3,price,item_seq_number,user_type,weekday,description_len,title_len,...,parent_category_name_en,category_name_en,brand,text_class,image_class_1,image_class_2,image_class_3,image_class_4,image_class_5,image_exists
0,462,249,112,1217,400.0,2,1,1,7,3,...,5,10,0,0,942,809,186,136,143,1
1,1314,122,112,1217,3000.0,19,1,6,7,3,...,3,18,0,0,854,139,397,710,245,1
2,1290,84,112,1217,4000.0,9,1,0,17,2,...,1,3,7636,0,731,563,399,594,479,1
3,950,38,112,1217,2200.0,286,0,5,3,1,...,5,10,0,0,625,629,526,236,232,1
4,318,278,124,46,40000.0,3,1,3,4,3,...,8,7,0,0,424,453,918,130,510,1

In [14]:
test_all.head(5)

,city,param_1,param_2,param_3,price,item_seq_number,user_type,weekday,description_len,title_len,...,parent_category_name_en,category_name_en,brand,text_class,image_class_1,image_class_2,image_class_3,image_class_4,image_class_5,image_exists
0,318,110,198,74,9788.0,66,1,1,2,2,...,5,10,0,0,794,291,910,820,258,1
1,993,119,112,1217,3000.0,4,1,6,10,2,...,3,18,3273,0,79,79,79,79,79,0
2,151,318,112,1217,15000.0,15,1,0,21,1,...,1,3,817,0,478,888,613,343,379,1
3,1319,108,131,1217,4500.0,70,1,0,12,3,...,5,10,229,0,79,79,79,79,79,0
4,243,102,112,1217,4900.0,15,1,5,10,2,...,8,7,0,0,938,925,614,143,850,1

In [15]:
# get image info from mysql
from sqlalchemy import create_engine

engine = create_engine('mysql://root:FlhbfyjD@localhost:3306/avito_train')
connection = engine.connect()


resoverall = connection.execute("SELECT * FROM train_image_classes")
df_from_mysql_train = pd.DataFrame(resoverall.fetchall())
df_from_mysql_train.columns = [
    'index', 'item_id', 'image', 
    'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5',
    
    'width', 'height', 
    'red_mean', 'red_std', 
    'green_mean', 'green_std', 
    'blue_mean', 'blue_std',
    'image_stat_mean', 'image_stat_std',
]

df_from_mysql_train_image_info = df_from_mysql_train[
    [
        'width', 'height', 
        'red_mean', 'red_std', 
        'green_mean', 'green_std', 
        'blue_mean', 'blue_std',
        'image_stat_mean', 'image_stat_std',
    ]
]
train_all = pd.concat([train_all, df_from_mysql_train_image_info], axis=1)


resoverall = connection.execute("SELECT * FROM test_image_classes")
df_from_mysql_test = pd.DataFrame(resoverall.fetchall())
df_from_mysql_test.columns = [
    'index', 'item_id', 'image', 
    'image_class_1', 'image_class_2', 'image_class_3', 'image_class_4', 'image_class_5',
    
    'width', 'height', 
    'red_mean', 'red_std', 
    'green_mean', 'green_std', 
    'blue_mean', 'blue_std',
    'image_stat_mean', 'image_stat_std',
]

df_from_mysql_test_image_info = df_from_mysql_test[
    [
        'width', 'height', 
        'red_mean', 'red_std', 
        'green_mean', 'green_std', 
        'blue_mean', 'blue_std',
        'image_stat_mean', 'image_stat_std',
    ]
]
test_all = pd.concat([test_all, df_from_mysql_test_image_info], axis=1)

In [16]:
#df_from_mysql_test.head()
#test_all.width.mean()
test_all['width'] = test_all['width'].fillna(int(test_all.width.mean()))
test_all['height'] = test_all['height'].fillna(int(test_all.height.mean()))

test_all.loc[test_all.red_mean.isnull() == True, 'red_mean'] = 131.58
test_all.loc[test_all.red_std.isnull() == True, 'red_std'] = 59.18

test_all.loc[test_all.green_mean.isnull() == True, 'green_mean'] = 122.56
test_all.loc[test_all.green_std.isnull() == True, 'green_std'] = 58.91

test_all.loc[test_all.blue_mean.isnull() == True, 'blue_mean'] = 115.36
test_all.loc[test_all.blue_std.isnull() == True, 'blue_std'] = 58.98

test_all.loc[test_all.image_stat_mean.isnull() == True, 'image_stat_mean'] = 123.17
test_all.loc[test_all.image_stat_std.isnull() == True, 'image_stat_std'] = 59.37

#int(test_all.width.mean().values[0])
# test_all.width.mean().values[0]
# test_all.loc[
#         test_all.width.isnull(),
#         'width'
#     ] = int(test_all.width.mean().values[0])
test_all.head()

,city,param_1,param_2,param_3,price,item_seq_number,user_type,weekday,description_len,title_len,...,width,height,red_mean,red_std,green_mean,green_std,blue_mean,blue_std,image_stat_mean,image_stat_std
0,318,110,198,74,9788.0,66,1,1,2,2,...,480.0,360.0,106.249,83.0901,106.62,82.2755,104.179,78.9407,105.683,81.4552
1,993,119,112,1217,3000.0,4,1,6,10,2,...,415.0,411.0,131.58,59.18,122.56,58.91,115.36,58.98,123.17,59.37
2,151,318,112,1217,15000.0,15,1,0,21,1,...,640.0,360.0,70.7365,73.9696,77.198,79.4384,86.9601,85.377,78.2982,79.7312
3,1319,108,131,1217,4500.0,70,1,0,12,3,...,415.0,411.0,131.58,59.18,122.56,58.91,115.36,58.98,123.17,59.37
4,243,102,112,1217,4900.0,15,1,5,10,2,...,480.0,360.0,92.0975,50.7304,69.6433,45.5717,59.6209,52.6162,73.7872,49.7287

In [17]:
# get image_top_1 field
train_all_initial = pd.read_csv("./data/train.csv", parse_dates=["activation_date"])
test_all_initial = pd.read_csv("./data/test.csv", parse_dates=["activation_date"])

test_all['image_top_1'] = test_all_initial.image_top_1
train_all['image_top_1'] = train_all_initial.image_top_1

train_all[train_all.image_top_1.isnull() == True] = train_all.image_top_1.mean()
test_all[test_all.image_top_1.isnull() == True] = test_all.image_top_1.mean()

In [27]:
train_all.red_mean = pd.to_numeric(train_all.red_mean)
train_all.red_std = pd.to_numeric(train_all.red_std)
train_all.blue_mean = pd.to_numeric(train_all.blue_mean)
train_all.blue_std = pd.to_numeric(train_all.blue_std)
train_all.green_mean = pd.to_numeric(train_all.green_mean)
train_all.green_std = pd.to_numeric(train_all.green_std)
train_all.image_stat_mean = pd.to_numeric(train_all.image_stat_mean)
train_all.image_stat_std = pd.to_numeric(train_all.image_stat_std)

In [28]:
train_all.head()

,city,param_1,param_2,param_3,price,item_seq_number,user_type,weekday,description_len,title_len,...,height,red_mean,red_std,green_mean,green_std,blue_mean,blue_std,image_stat_mean,image_stat_std,image_top_1
0,976.0,105.0,163.0,164.0,500.0,20.0,1.0,3.0,10.0,1.0,...,480.0,170.216,28.5995,152.807,28.8021,140.3050,35.5420,154.443,31.1487,83.0
1,1523.0,91.0,112.0,1217.0,29600.0,468.0,0.0,0.0,191.0,3.0,...,215.0,212.542,74.1384,212.490,74.1172,212.4330,74.2853,212.488,74.1803,2368.0
2,589.0,322.0,112.0,1217.0,1900.0,5.0,1.0,4.0,44.0,4.0,...,480.0,175.430,35.8838,165.979,32.8444,157.0800,30.3806,166.163,33.1128,813.0
3,318.0,105.0,257.0,185.0,300.0,35.0,1.0,4.0,6.0,2.0,...,480.0,122.392,77.9528,107.927,74.6423,82.3442,69.9223,104.221,74.2456,112.0
4,985.0,110.0,257.0,178.0,600.0,82.0,1.0,1.0,0.0,5.0,...,480.0,111.475,55.5078,111.626,45.3416,90.9759,45.4500,104.692,48.9989,63.0

In [31]:
train_all = train_all.drop(
    ['red_mean', 'red_std', 'green_mean', 'green_std', 'blue_mean', 'blue_std', 'image_stat_mean', 'image_stat_std'], 
    axis=1
)
test_all = test_all.drop(
    ['red_mean', 'red_std', 'green_mean', 'green_std', 'blue_mean', 'blue_std', 'image_stat_mean', 'image_stat_std'],
    axis=1
)

In [32]:
train_all = train_all.sample(frac=1).reset_index(drop=True)

In [ ]:
dev_X = train_all.iloc[:-250000,:]
val_X = train_all.iloc[-250000:,:]
dev_y = train_y[:-250000]
val_y = train_y[-250000:]
#print(dev_X.shape, val_X.shape, test_all.shape)

params = {
    'learning_rate': 0.1,
    'application': 'regression',
    'max_depth': 13,
    'num_leaves': 80,
    'verbosity': -1,
    'metric': 'RMSE',
    'data_random_seed': 1,
    'bagging_fraction': 0.8,
    'feature_fraction': 0.6,
    'nthread': 4,
    'lambda_l1': 10,
    'lambda_l2': 10
}
lgtrain = lgb.Dataset(train_all, label=train_y)
lgval = lgb.Dataset(val_X, label=val_y)

evals_result = {}
model = lgb.train(params, lgtrain, 5000, valid_sets=[lgval], early_stopping_rounds=100, verbose_eval=20, evals_result=evals_result)

In [44]:
predictions = model.predict(test_all)

In [45]:
test_all_2 = pd.read_csv("./data/try_3_23_05_2018_test.csv", parse_dates=["activation_date"])
submission = pd.DataFrame()

In [46]:
submission['item_id'] = test_all_2.item_id
submission['deal_probability'] = predictions
submission.columns = ['item_id', 'deal_probability']

In [47]:
def normalize_prob(x):
    if (x > 1):
        return 1.0
    if (x < 0):
        return 0.0
    
    return x

submission['deal_probability'] = submission['deal_probability'].apply(normalize_prob)

In [48]:
submission.head()

        item_id  deal_probability
0  6544e41a8817          0.165964
1  65b9484d670f          0.137252
2  8bab230b2ecd          0.101156
3  8e348601fefc          0.137252
4  8bd2fe400b89          0.200355

In [49]:
submission.to_csv('./data/submission.csv', index=None)

In [50]:
len(submission.item_id.values)

508438