In [1]:
from collections import Counter
import pandas as pd
import numpy as np

In [2]:
view_popularity = Counter()
purchase_popularity = Counter()

with open('./coursera_sessions_train.txt', 'r') as f:
    for line in f.xreadlines():
        visits, purchases = line.strip().split(';')
        for visit in visits.split(','):
            view_popularity[int(visit)] += 1
        for purchase in purchases.split(','):
            if purchase != '':
                purchase_popularity[int(purchase)] += 1

In [3]:
data_views = pd.DataFrame.from_dict(view_popularity, orient='index')
data_views.columns = ['views']
data_views.head()

   views
0      6
1      6
2      9
3      7
4     11

In [4]:
data_purchase = pd.DataFrame.from_dict(purchase_popularity, orient='index')
data_purchase.columns = ['purchase']
data_purchase.head()

       purchase
49152         1
19913         1
47787         1
9558          1
6             2

In [5]:
pressision_k1 = []
pressision_k5 = []
with open('./coursera_sessions_train.txt', 'r') as f:
    for line in f.xreadlines():
        visits, purchases = line.strip().split(';')
        visits = visits.split(',')
        visits_arr = []
        for i in visits:
            if i not in visits_arr:
                visits_arr.append(int(i))
        
        df = pd.DataFrame(visits_arr, index=visits_arr, columns = ['product'])
        df['views'] = 0
        df['purchases'] = 0
        
        for product_id in df.index:
            if product_id in data_views.index:
                df.loc[product_id, 'views'] = data_views.loc[product_id, 'views']

        for product_id in df.index:
            if product_id in data_purchase.index:
                df.loc[product_id, 'purchases'] = data_purchase.loc[product_id, 'purchase']
                
        df = df.sort_values('views', ascending=False, kind='mergesort')
        pressision_k1.append(df.iloc[0]['purchases']/1)
        pressision_k5.append(sum(df.iloc[0:5]['purchases'])/5)

#df.loc[2]
#df.loc[3, 'views'] = 12
#df

0.24879999999999999

In [6]:
print np.mean(pressision_k1)
print np.mean(pressision_k5)

0.9796
0.2488